openapi: 3.0.0
info:
  title: Geofence API (Beta)
  version: '1.0'
  description: |-
    The Geofence API can be used to subscribe to geofence events that a vehicle that is in a fleet intersect. Unless otherwise specified, all hooks will POST to the URL that you provide.

    This API is still in the design phase, so expect changes.
  contact:
    name: Software Team
    url: https://www.astraiot.co.uk
    email: miguel@astraiot.co.uk
servers:
  - description: Production
    url: 'https://connectivity.astraiot.co.uk/api/geofence/v1/'
  - description: Sandbox
    url: 'https://sandbox.connectivity.astraiot.co.uk/api/geofence/v1/'
paths:
  '/geofences/{geofenceId}':
    get:
      summary: Retrieve a geofence
      tags:
        - geofences
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      id:
                        $ref: '#/components/schemas/GeofenceId'
                    required:
                      - id
                  - $ref: '#/components/schemas/GeofenceArea'
        '404':
          description: Could not find a geofence by the provided ID.
          content:
            application/json:
              schema:
                $ref: ../common/models/error/genericerror.v1.yaml
      operationId: getGeofence
      parameters: []
      description: Retrieve a previosuly created geofence.
      requestBody: {}
    put:
      summary: Update a geofence
      operationId: updateGeofence
      responses:
        '200':
          description: OK
      description: Modify a previously created geofence.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeofenceArea'
      tags:
        - geofences
    parameters:
      - $ref: '#/components/parameters/geofenceId'
  /hooks/:
    parameters: []
    post:
      summary: Subscribe to geofence alerts
      operationId: subscribeToGeofenceAlerts
      responses:
        '200':
          description: OK
        '400':
          description: "Bad Request. Check your request's syntax."
          content:
            application/json:
              schema:
                $ref: ../common/models/error/genericerror.v1.yaml
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  $ref: ../hooks/models/hookurl.v1.yaml
              required:
                - url
        description: ''
      tags:
        - hooks
        - geofences
      callbacks:
        GeofenceEvent:
          '{$request.body#/url}':
            post:
              requestBody:
                $ref: '#/components/schemas/GeofenceEvent'
              responses:
                '200':
                  description: OK
      description: |-
        Subscribe to geofence alerts and get whether any of your devices have left or entered the designated areas at any time. The system will POST you at the URL you provide each time that happens.

        Please take notice that a callback is defined for this hook in this same `.yaml` file, even though you are not able to see it in the browser. Please inspect the `GeofenceEvent` model in order to obtain information about the schema used for notifying your applications.
    delete:
      summary: Unsubscribe from geofence alerts
      operationId: unsubscribeFromGeofenceAlerts
      responses:
        '200':
          description: OK
        '204':
          description: There was no hook configured.
      requestBody: {}
      tags:
        - hooks
        - geofences
      parameters: []
      description: Unsubscribe from geofence alerts.
  /geofences:
    post:
      summary: Create a geofence
      operationId: createGeofence
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    $ref: '#/components/schemas/GeofenceId'
                required:
                  - id
        '400':
          description: Bad Request. Check that you have provided a valid GeoJSON object.
          content:
            application/json:
              schema:
                $ref: ../common/models/error/genericerror.v1.yaml
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeofenceArea'
      description: Create a geofence for your devices.
      tags:
        - geofences
    parameters: []
components:
  schemas:
    GeofenceTag:
      type: string
      title: GeofenceTag
      description: A tag for geofences.
      example: example-tag
      minLength: 1
      maxLength: 255
      pattern: '^[A-Za-z0-9-_]+'
      x-tags:
        - models
    GeofenceArea:
      title: GeofenceArea
      description: Defines the geometry of a geofence. Geofence is a GeoJSON object that defines a region in space that can interact with the fleet.
      type: object
      x-examples: {}
      x-tags:
        - models
      properties:
        name:
          type: string
          description: A name for this geofence.
        tags:
          type: array
          description: 'An array of tags, please check the `GeofenceTag` model on this API for validation constraints.'
          items:
            $ref: '#/components/schemas/GeofenceTag'
        geoJson:
          $ref: '#/components/schemas/GeoJson'
      required:
        - name
        - tags
        - geoJson
    GeoJson:
      title: GeoJson
      type: object
      description: 'A [GeoJSON](https://geojson.org) object, defined by the RFC 7946 standard. You can easily generate one with [this](geojson.io) tool.'
      x-tags:
        - models
    GeofenceId:
      title: GeofenceId
      type: string
      description: A UUID representing a configured geofence.
      x-tags:
        - models
    GeofenceEvent:
      title: GeofenceEvent
      type: object
      description: A callback to your application fired every time that a geofence event occurs.
      properties:
        geofenceId:
          type: string
          description: Which geofence was involved in this event.
        deviceId:
          type: string
          description: Which device caused the event to fire up.
        type:
          type: string
          description: The type of event.
          enum:
            - enter
            - exit
        geofenceTags:
          type: array
          description: Array of tags of the involved geofence. Can be empty.
          items:
            type: string
        geofenceName:
          type: string
          description: Name given to the involved geofence.
      required:
        - geofenceId
        - deviceId
        - type
        - geofenceTags
        - geofenceName
      x-tags:
        - hook-callbacks
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: |-
        To authenticate each and every one of the requests made to this API using this security scheme, you should provide a "ClientId:ApiKey" string encoded in Base64 and add the string "Basic " to the front, like this:
        ```
        Authorization: Basic ${base64EncodedToken}
        ```
        Take into account that you are sending your API key in plain text in every request, so consider using the OAuth2 security scheme to authenticate your requests instead.
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://connectivity.astraiot.co.uk:443/api/auth/v1/token'
          scopes: {}
      description: |-
        Make a request with `Basic Access Authentication`, like is explained above, to the **Token URL** displayed at the bottom to obtain an authorization token.

        Then, in each of the requests that you make to this API, you should provide the obtained token in the  `Authorization` header, like this:
        ```
        Authorization: Bearer ${token}
        ```
        Take into account that the token obtained through the **Token URL** has a TTL, so be sure to ensure its renewal.
security:
  - Basic: []
  - OAuth2: []
