openapi: 3.0.0
tags:
  - name: reports
    description: "Operations related with a particular Astra device's reports."
  - name: devices
    description: Operations related with particular Astra devices.
  - name: commands
    description: Operations related with the command-response model of an Astra device.
info:
  title: Devices API
  version: '1.0'
  description: The Devices API can be used to poll the status of devices and act on them.
  contact:
    name: Miguel Vera
    email: miguel@astraiot.co.uk
    url: 'https://www.linkedin.com/in/mikiloz'
servers:
  - url: 'https://connectivity.astraiot.co.uk:443/api/devices/v1'
    description: Production
  - url: 'https://sandbox.connectivity.astraiot.co.uk:443/api/devices/v1'
    description: Sandbox
paths:
  '/devices/{deviceId}':
    parameters:
      - $ref: '#/components/parameters/deviceId'
    get:
      summary: "Obtain the device's last known state"
      tags:
        - devices
      responses:
        '200':
          description: OK
          headers:
            X-Response-Format:
              $ref: '#/components/parameters/X-Response-Format'
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: ../common/models/protocolxdevicereport.v1.yaml
                  - $ref: ../common/models/protocolkdevicereport.v1.yaml
                  - $ref: ../common/models/protocolmdevicereport.v1.yaml
        '204':
          description: The device has not connected nor sent any data to the backend yet.
        '404':
          description: Could not find a device by the provided ID.
          content:
            application/json:
              schema:
                $ref: ../common/models/error/genericerror.v1.yaml
      parameters: []
      description: Returns the last known state of the device. Note that this state might not represent reality at the moment of this query. The state is sent back to the caller using the latest report received.
      operationId: getDevice
  '/devices/{deviceId}/command':
    parameters:
      - $ref: '#/components/parameters/deviceId'
    post:
      summary: Send a command to a device
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/commandresponse.v1.yaml
        '404':
          description: Could not find a device by the provided ID.
          content:
            application/json:
              schema:
                $ref: ../common/models/error/genericerror.v1.yaml
        '408':
          description: 'Request timeout, probably because the Astra device was unavailable at the time.'
          content:
            application/json:
              schema:
                $ref: ../common/models/error/genericerror.v1.yaml
      description: 'Send a command to a device. This operation is synchronous: the HTTP call will return when commanda are received, processed and a response has been sent back to the server, at which time the server will send the response back to the calling client.'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: An array of commands (each a string). The Astra device will execute them sequentially (starting at index 0) and be back with a response for each of them.
              items:
                $ref: ./models/command.v1.yaml
        description: An array of commands.
      operationId: sendCommand
      tags:
        - commands
        - devices
  /devices:
    get:
      summary: Get all your devices
      tags:
        - devices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/paginateddevicesresponse.v1.yaml
      description: 'Obtain a list of all the devices that you currently posses, as well as their last seen online timestamps.'
      parameters:
        - schema:
            type: string
          in: query
          name: offset
          description: 'The device ID provided in the previous response. If none is given, it will start looking from the beggining of the list.'
        - schema:
            type: integer
            maximum: 50
            minimum: 1
            multipleOf: 1
            default: '20'
          in: query
          name: limit
          description: 'Limit the response size (in device no.). Must be a value between 1 and 50, and default is 20.'
      operationId: getAllDevices
    parameters: []
  '/devices/{deviceId}/reports':
    parameters:
      - $ref: '#/components/parameters/deviceId'
    get:
      summary: Get device reports
      tags:
        - reports
        - devices
      responses:
        '200':
          description: "OK. If the array is empty, it's because there are no matching reports for the given query."
          content:
            application/json:
              schema:
                $ref: ./models/paginateddevicereportsresponse.v1.yaml
          headers:
            X-Response-Format:
              $ref: '#/components/parameters/X-Response-Format'
        '204':
          description: There are no reports because the device has not connected nor sent any data to the backend yet.
        '404':
          description: Could not find a device by the provided ID.
          content:
            application/json:
              schema:
                $ref: ../common/models/error/genericerror.v1.yaml
      operationId: getDeviceReports
      description: This endpoint provides a convenient way of obtaining all device reports that match a given query. Reports will be sent back in a paginated response.
      parameters:
        - schema:
            type: string
          in: query
          name: start
          description: 'Filter by a beginning timestamp. If no `end` timestamp is sent, the response will contain the reports of a range of 31 days after this start date.'
        - schema:
            type: string
          in: query
          name: end
          description: "Filter by a termination timestamp. If no `start` timestamp is sent, the response will contain the \nreports of a range of 31 days before this end date."
        - schema:
            type: string
          in: query
          name: reportReason
          description: Filter reports by the indicated report reason. The response will only contain reports that were triggered because of such reason.
  '/hooks/events/{eventType}':
    post:
      summary: Subscribe to important device events
      responses:
        '200':
          description: OK
        '400':
          description: "Bad Request. Check your request's syntax."
          content:
            application/json:
              schema:
                $ref: ../common/models/error/genericerror.v1.yaml
      description: |-
        Subscribe a URL to receive a POST on any important events of your devices. You can define which type of event to subscribe to.

        Please take notice that a callback is defined for this hook in this same `.yaml` file, even though you are not able to see it in the browser. Please inspect the `DeviceEventReceivedEvent` model in this API to obtain information about the schema used for notifying your applications.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  $ref: ../common/models/hooks/hookurl.v1.yaml
      callbacks:
        DeviceEventReceivedEvent:
          '{$request.body#/url}':
            post:
              headers:
                X-Response-Format:
                  $ref: ../common/
              requestBody:
                $ref: ./models/events/devicereportsreceived.v1.yaml
              responses:
                '200':
                  description: OK
      operationId: subscribeToEvent
      tags:
        - hooks
        - events
    delete:
      summary: Unsubscribe from important device events
      operationId: unsubscribeFromEvent
      responses:
        '200':
          description: OK
        '204':
          description: There was no hook configured.
      description: Unsubscribe from a previously subscribed event.
      requestBody: {}
      tags:
        - hooks
        - events
    parameters:
      - schema:
          type: string
          enum:
            - timed-interval-elapsed
            - distance-travelled-exceeded
            - position-on-demand
            - geofence
            - panic-switch-activated
            - external-io
            - journey-start
            - journey-stop
            - heading-change
            - low-battery
            - external-power
            - idling-start
            - idling-end
            - idling-ongoing
            - power-on
            - speed-overthreshold
            - towing-alarm
            - unauthorised-driver-alarm
            - collision-alarm
            - accel-threshold-maximum
            - cornering-threshold-maximum
            - decel-threshold-maximum
            - gps-reacquired
            - vehicle-roll
        name: eventType
        in: path
        required: true
  /hooks/reports:
    post:
      summary: "Subscribe to a device's reports"
      responses:
        '200':
          description: OK
        '400':
          description: "Bad Request. Check your request's syntax."
          content:
            application/json:
              schema:
                $ref: ../common/models/error/genericerror.v1.yaml
      description: |-
        Subscribe to your device's reports and get their status in real-time. The system will POST you at the URL you provide every time that a new report arrives from one of your devices.

        Please take notice that a callback is defined for this hook in this same `.yaml` file, even though you are not able to see it in the browser. Please inspect the `DeviceReportsReceivedEvent` model in this API to obtain information about the schema used for notifying your applications.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  $ref: ../common/models/hooks/hookurl.v1.yaml
        description: ''
      callbacks:
        DeviceReportReceivedEvent:
          '{$request.body#/url}':
            post:
              requestBody:
                $ref: ./models/events/devicereportreceivedevent.v1.yaml
              responses:
                '200':
                  description: OK
      operationId: subscribeToReports
      tags:
        - hooks
        - reports
    parameters: []
    delete:
      summary: "Unsubscribe from a device's reports"
      operationId: unsubscribeFromReports
      responses:
        '200':
          description: OK
        '204':
          description: There was no hook configured.
      description: "Unsubscribe from your devices' reports."
      requestBody: {}
      parameters: []
      tags:
        - hooks
        - events
components:
  schemas:
    DeviceId:
      title: DeviceId
      type: string
      description: A UUID that identifies a particular IoT device.
      x-tags:
        - models
    Imei:
      title: Imei
      type: string
      description: The IMEI of the radio on a device.
      x-tags:
        - models
    FirmwareVersion:
      title: FirmwareVersion
      type: string
      description: A string consisting on the firmware version of a device.
      x-tags:
        - models
    EventType:
      title: EventType
      type: string
      enum:
        - timed-interval-elapsed
        - distance-travelled-exceeded
        - position-on-demand
        - geofence
        - panic-switch-activated
        - external-io
        - journey-start
        - journey-stop
        - heading-change
        - low-battery
        - external-power
        - idling-start
        - idling-end
        - idling-ongoing
        - power-on
        - speed-overthreshold
        - towing-alarm
        - unauthorised-driver-alarm
        - collision-alarm
        - accel-threshold-maximum
        - cornering-threshold-maximum
        - decel-threshold-maximum
        - gps-reacquired
        - vehicle-roll
      description: A specific event type to subscribe or unsubscribe to.
      x-tags:
        - models
    DeviceReportsReceivedEvent:
      title: DeviceReportsReceivedEvent
      type: object
      description: |-
        Callback that contains one or multiple reports that the device has sent to the backend.

        Also note that a response header `X-Response-Format` will be sent along this callback that will indicate the response format of the reports contained in the array. Check other endpoints in this API that also contain such header for more information.
      properties:
        deviceId:
          $ref: '#/components/schemas/DeviceId'
        reports:
          type: array
          items:
            oneOf:
              - $ref: ../common/models/protocolxdevicereport.v1.yaml
              - $ref: ../common/models/protocolkdevicereport.v1.yaml
              - $ref: ../common/models/protocolmdevicereport.v1.yaml
      x-tags:
        - hook-callbacks
    DeviceEventReceivedEvent:
      title: DeviceEventReceivedEvent
      type: object
      description: |-
        Callback that contains information about an event that just took place for a particular device.

        Also note that a response header `X-Response-Format` will be sent along this callback that will indicate the response format of the report contained in this callback. Check other endpoints in this API that also contain such header for more information.
      properties:
        deviceId:
          $ref: '#/components/schemas/DeviceId'
        eventType:
          $ref: '#/components/schemas/EventType'
        report:
          oneOf:
            - $ref: ../common/models/protocolxdevicereport.v1.yaml
            - $ref: ../common/models/protocolkdevicereport.v1.yaml
            - $ref: ../common/models/protocolmdevicereport.v1.yaml
      x-tags:
        - hook-callbacks
  parameters:
    deviceId:
      in: path
      name: deviceId
      schema:
        type: string
        format: uuid
      description: A UUID representing a particular IoT device.
      required: true
    X-Response-Format:
      schema:
        type: string
        enum:
          - astra-protocol-x
          - astra-protocol-k
          - astra-protocol-m
      description: "A string telling you how to interpret the JSON object(s) that you'll be receiving. Depends on the vendor of the device, the protocol version, etc."
      required: true
      name: X-Response-Format
      in: header
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: |-
        To authenticate each and every one of the requests made to this API using this security scheme, you should provide a "ClientId:ApiKey" string encoded in Base64 and add the string "Basic " to the front, like this:
        ```
        Authorization: Basic ${base64EncodedToken}
        ```
        Take into account that you are sending your API key in plain text in every request, so consider using the OAuth2 security scheme to authenticate your requests instead.
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://connectivity.astraiot.co.uk:443/api/auth/v1/token'
          scopes: {}
      description: |-
        Make a request with `Basic Access Authentication`, like is explained above, to the **Token URL** displayed at the bottom to obtain an authorization token.

        Then, in each of the requests that you make to this API, you should provide the obtained token in the  `Authorization` header, like this:
        ```
        Authorization: Bearer ${token}
        ```
        Take into account that the token obtained through the **Token URL** has a TTL, so be sure to ensure its renewal.
security:
  - Basic: []
  - OAuth2: []
