openapi: 3.0.0
tags:
  - name: reports
  - name: hooks
  - name: events
info:
  title: Hooks
  version: '1.0'
  description: 'The hooks API can be used to subscribe to relevant events that a device might trigger in its usage. Unless otherwise specified, all hooks will POST to the URL that you provide.'
  contact:
    name: Miguel Vera
    email: miguel@astraiot.co.uk
servers:
  - url: 'https://connectivity.gps-telematics.co.uk:3000/hooks'
    description: Hooks API
paths:
  /reports:
    post:
      summary: "Subscribe to a device's reports"
      responses:
        '200':
          description: OK
      description: |-
        Subscribe to your device's reports and get their status in real-time. The system will POST you at the URL you provide every time that a new report arrives from one of your devices.

        Please take notice that a callback is defined for this hook in this same `.yml` file, even though you are not able to see it in the browser. Please inspect the raw OpenAPI definition files to obtain information about the schema used for notifying your applications.
      security:
        - ClientPassword: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  $ref: ./models/hookurl.v1.yaml
        description: ''
      callbacks:
        DeviceReportReceivedEvent:
          '{$request.body#/url}':
            post:
              requestBody:
                $ref: ./models/events/devicereportsreceived.v1.yaml
              responses:
                '200':
                  description: OK
      operationId: subscribeToReports
      tags:
        - reports
        - hooks
    parameters: []
    delete:
      summary: "Unsubscribe from a device's reports"
      operationId: unsubscribeFromReports
      responses:
        '200':
          description: OK
        '204':
          description: There was no hook configured.
      description: "Unsubscribe from your devices' reports."
      requestBody: {}
      parameters: []
      tags:
        - reports
        - hooks
      security:
        - ClientPassword: []
  '/events/{eventType}':
    post:
      summary: Subscribe to important device events
      responses:
        '200':
          description: OK
      description: |-
        Subscribe a URL to receive a POST on any important events of your devices. You can define which type of event to subscribe to.

        Please take notice that a callback is defined for this hook in this same `.yaml` file, even though you are not able to see it in the browser. Please inspect the raw OpenAPI definition files to obtain information about the schema used for notifying your applications.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  $ref: ./models/hookurl.v1.yaml
      security:
        - ClientPassword: []
      operationId: subscribeToEvent
      tags:
        - events
        - hooks
    delete:
      summary: Unsubscribe from important device events
      operationId: unsubscribeFromEvent
      responses:
        '200':
          description: OK
        '204':
          description: There was no hook configured.
      description: Unsubscribe to a previously subscribed event.
      requestBody: {}
      tags:
        - events
        - hooks
      security:
        - ClientPassword: []
    parameters:
      - schema:
          type: string
          enum:
            - timed-interval-elapsed
            - distance-travelled-exceeded
            - position-on-demand
            - geofence
            - panic-switch-activated
            - external-io
            - journey-start
            - journey-stop
            - heading-change
            - low-battery
            - external-power
            - idling-start
            - idling-end
            - idling-ongoing
            - power-on
            - speed-overthreshold
            - towing-alarm
            - unauthorised-driver-alarm
            - collision-alarm
            - accel-threshold-maximum
            - cornering-threshold-maximum
            - decel-threshold-maximum
            - gps-reacquired
            - vehicle-roll
        name: eventType
        in: path
        required: true
components:
  schemas: {}
  securitySchemes:
    ClientPassword:
      type: http
      scheme: Bearer
      description: Use the authentication bearer token obtained from the `/auth/token` endpoint.
