openapi: 3.0.0
tags:
  - name: reports
  - name: hooks
  - name: events
info:
  title: Hooks API
  version: '1.0'
  description: 'The Hooks API can be used to subscribe to relevant events that a device might trigger in its usage. Unless otherwise specified, all hooks will POST to the URL that you provide.'
  contact:
    name: Miguel Vera
    email: miguel@astraiot.co.uk
    url: 'https://www.linkedin.com/in/mikiloz'
servers:
  - url: 'https://connectivity.astraiot.co.uk:443/api/hooks/v1'
    description: Production
  - url: 'https://sandbox.connectivity.astraiot.co.uk:443/api/hooks/v1'
    description: Sandbox
paths:
  /reports:
    post:
      summary: "Subscribe to a device's reports"
      responses:
        '200':
          description: OK
      description: |-
        Subscribe to your device's reports and get their status in real-time. The system will POST you at the URL you provide every time that a new report arrives from one of your devices.

        Please take notice that a callback is defined for this hook in this same `.yml` file, even though you are not able to see it in the browser. Please inspect the raw OpenAPI definition files to obtain information about the schema used for notifying your applications.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  $ref: ./models/hookurl.v1.yaml
        description: ''
      callbacks:
        DeviceReportReceivedEvent:
          '{$request.body#/url}':
            post:
              requestBody:
                $ref: ./models/events/devicereportsreceived.v1.yaml
              responses:
                '200':
                  description: OK
      operationId: subscribeToReports
      tags:
        - reports
        - hooks
    parameters: []
    delete:
      summary: "Unsubscribe from a device's reports"
      operationId: unsubscribeFromReports
      responses:
        '200':
          description: OK
        '204':
          description: There was no hook configured.
      description: "Unsubscribe from your devices' reports."
      requestBody: {}
      parameters: []
      tags:
        - reports
        - hooks
  '/events/{eventType}':
    post:
      summary: Subscribe to important device events
      responses:
        '200':
          description: OK
      description: |-
        Subscribe a URL to receive a POST on any important events of your devices. You can define which type of event to subscribe to.

        Please take notice that a callback is defined for this hook in this same `.yaml` file, even though you are not able to see it in the browser. Please inspect the raw OpenAPI definition files to obtain information about the schema used for notifying your applications.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  $ref: ./models/hookurl.v1.yaml
      operationId: subscribeToEvent
      tags:
        - events
        - hooks
    delete:
      summary: Unsubscribe from important device events
      operationId: unsubscribeFromEvent
      responses:
        '200':
          description: OK
        '204':
          description: There was no hook configured.
      description: Unsubscribe from a previously subscribed event.
      requestBody: {}
      tags:
        - events
        - hooks
    parameters:
      - schema:
          type: string
          enum:
            - timed-interval-elapsed
            - distance-travelled-exceeded
            - position-on-demand
            - geofence
            - panic-switch-activated
            - external-io
            - journey-start
            - journey-stop
            - heading-change
            - low-battery
            - external-power
            - idling-start
            - idling-end
            - idling-ongoing
            - power-on
            - speed-overthreshold
            - towing-alarm
            - unauthorised-driver-alarm
            - collision-alarm
            - accel-threshold-maximum
            - cornering-threshold-maximum
            - decel-threshold-maximum
            - gps-reacquired
            - vehicle-roll
        name: eventType
        in: path
        required: true
components:
  schemas: {}
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: |-
        To authenticate each and every one of the requests made to this API using this security scheme, you should provide a "ClientId:ApiKey" string encoded in Base64 and add the string "Basic " to the front, like this:
        ```
        Authorization: Basic ${base64EncodedToken}
        ```
        Take into account that you are sending your API key in plain text in every request, so consider using the OAuth2 security scheme to authenticate your requests instead.
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: 'https://connectivity.astraiot.co.uk:443/api/auth/v1/token'
          scopes: {}
      description: |-
        Make a request with `Basic Access Authentication`, like is explained above, to the **Token URL** displayed at the bottom to obtain an authorization token.

        Then, in each of the requests that you make to this API, you should provide the obtained token in the  `Authorization` header, like this:
        ```
        Authorization: Bearer ${token}
        ```
        Take into account that the token obtained through the **Token URL** has a TTL, so be sure to ensure its renewal.
security:
  - Basic: []
  - OAuth2: []
